@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
    width: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #8b5cf6;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #a855f7;
    border-radius: 10px;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #0f0f0f;
    /* optional background */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #a855f7, #7c3aed);
    /* purple gradient */
    border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #9333ea, #6d28d9);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}